<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." , onKeyUp: "$('#chars_counter_p').text(140-micropost_content.value.length+'  Chars left')"%>
    <p id="chars_counter_p">140 Chars left</p>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>